-
  const cardContent = [
    {src:'./img/bridge.png', alt:'мост', title:'Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020', time:'2 часа', desc: ['Билет на целый день','Неограниченное число катаний','6 остановок у главных достопримечательностей','Ближайший рейс сегодня'], tags: ['12:00','12:00','12:00'], price:'900 ₽', priceBerth:'1200 ₽ на причале', info:'новинка'},
    {src:'./img/church.png', alt:'мост', title:'Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020', time:'2 часа', desc: ['Билет на целый день','Неограниченное число катаний','6 остановок у главных достопримечательностей','Ближайший рейс сегодня'], tags:['12:00','12:00','12:00', '12:00'], price:'900 ₽', priceBerth:'1200 ₽ на причале', info:'круглый год'},
    {src:'./img/piano.png', alt:'мост', title:'Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020', time:'2 часа', desc: ['Билет на целый день','Неограниченное число катаний','6 остановок у главных достопримечательностей','Ближайший рейс сегодня'], tags:['12:00','12:00','12:00', 'ещё...'], price:'900 ₽', priceBerth:'1200 ₽ на причале', info: ''},
  ]

mixin card(src, alt, title, time, desc, tags, price, priceBerth, info, index)
  article.card
    .card__picture
      img.card__img(src= src, alt= alt)
      if index == 0
        span.card__info.card__info--new= info
      else if index == 1
        span.card__info.card__info--yearround= info
      else
        span.card__info.none
    .card__description
      h2.card__title= title
      span.card__time= time
      .card__lists
        ul.card__desc-list
          each item, descIndex in desc
            if descIndex == 3
              li.card__desc-item= item
                ul.card__tags-list
                  each item, tagIndex in tags
                    if index == 0 && tagIndex == 1
                      li.card__tags-item.active= item
                    else
                      li.card__tags-item= item
            else
              li.card__desc-item= item
      .card__footer
        .card__price
          .card__rate= price
          .card__rateberth= priceBerth
        a.card__link(href="#") Подробнее